#Redes{
    #titulo_redes_sociales{
    color: rgb(230, 218, 218);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top:auto;
    }
  }
 
  #texto_footer{
      text-align: center;
      color: rgb(230, 218, 218);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-top: 5%;
      margin-left:10%;
      
  }

 $bordes:(
  facebook:rgb(12, 26, 155),
  twitter:rgb(12, 26, 155),
  instagram:brown,
  youtube:rgb(109, 10, 10),
 );

 @each $redSocial,$colorBorde in $bordes{
.container--#{$redSocial}{
    margin-left:6%;
    border-style: outset;
    border-color: rgb(250, 244, 244);
    &:hover{ 
        border:solid $colorBorde;
        border-radius:5px;
        transition:1.5s; 
        cursor:pointer;
        transform: scale(1.4);
    }      
  } 
 }