/*-----Seccion Index------*/
div #textoCarrousel{
    color:black; 
    justify-content: left;
    margin-left:-1.5%;
    
 
}
.carousel-inner  {

    img{ 
    height:100vh;
    width:90vw; 
    border:solid 4px;
    border-color: rgb(15, 3, 3);
     margin-top:0.5%;
    }
 
}
#tituloInicio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 3rem;
   color:white;
   margin:auto;
   font-style: oblique;
   &:hover{
    color:rgb(5, 5, 5);
    transition:2s; 
   }
   
}
#videoIntroduccion{
    margin-top: 1%;  
}